<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="true"
	  internalLogLevel="Warn"
	  internalLogFile="${basedir}\log\nlog-internal.txt">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="Generic" value="${longdate} | [ThreadId]=[${threadid:padding=4}] | [${level:uppercase=true:padding=5}] ${message}"/>
	
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
  -->
  <targets async="true">
  <!--
  add your targets here
  See https://github.com/nlog/NLog/wiki/Targets for possible targets.
  See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
  -->
      <target xsi:type="File" name="Default" fileName="${basedir}/log/log.txt" enableFileDelete="true" createDirs="true"
			  archiveFileName="${basedir}/log/archive/log{######}.txt" concurrentWrites="true" layout="${Generic}"
			  archiveAboveSize="10485760" maxArchiveFiles="10" encoding="utf-8"/>
  </targets>

  <rules>
      <!-- add your logging rules here -->
	  <logger name="*" minlevel="Trace" writeTo="Default"/>
  </rules>
</nlog>
