<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotionDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
		<!-- section name="ParamName" ，與自定義類名稱匹配，自定義配置加載器類將使用它來自動查找要加載的類型。 -->
		<!-- type="Namespace.ClassName, AssemblyName" ，自定義配置加載器類型。 -->
		<section name="MotionParam" type="MotionDemo.ConfigLoader, MotionDemo" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<MotionParam>
		<PPU>1</PPU>
		<HomeMethod>37</HomeMethod>
		<ORGHomeSpeed>1</ORGHomeSpeed>
		<EZHomeSpeed>1</EZHomeSpeed>
		<HomeAcc>1</HomeAcc>
		<VelScale>1</VelScale>
		<AccScale>1</AccScale>
		<AccTime>1</AccTime>
		<DecTime>1</DecTime>
		<AccDecType>T_Curve</AccDecType>
		<PosSoftwareMinLimit>0</PosSoftwareMinLimit>
		<PosSoftwareMaxLimit>0</PosSoftwareMaxLimit>
	</MotionParam>
    <applicationSettings>
        <MotionDemo.Properties.Settings>
            <setting name="Card1Slave1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Card1Slave1" serializeAs="String">
                <value>0,1,2,3,4,5,6</value>
            </setting>
        </MotionDemo.Properties.Settings>
    </applicationSettings>
</configuration>